.back{
  position: fixed;
  top: 200px;
  width: 22px;
  height: 100px;
  text-align: center;
  background-color: #eee;
  font-weight:bold;
  padding-top: 10px;
}
.back a{
  color: #515151;
}
.wc{
  text-align: center;
  font-weight: bold;
  margin-top: 20px;
  color: #646C7A;
  font-size: 25px;
}
.tip{
  margin-top: 10px;
  text-align: center;
  color: #fb7d9a;
  font-size: 16px;
}